#blazor-error-ui,
.blazor-error {
    color: #fff;
    font-size: 1.5rem;
    background: var(--mud-palette-error);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

    #blazor-error-ui .content,
    .blazor-error .content {
        display: flex !important;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        flex-direction: column;
    }

    #blazor-error-ui .reload,
    .blazor-error .reload {
        background: #fff;
        color: var(--mud-palette-error);
        padding: 1rem 2rem;
        margin: 1rem;
    }

    #blazor-error-ui .dismiss,
    .blazor-error .dismiss {
        background: #fff;
        color: var(--mud-palette-error);
        padding: 1rem;
        top: 1rem;
        right: 1rem;
    }

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.initialization-loader {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg,#0d0b16 50%,#000000 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1
}

@font-face {
    font-family: 'fontin';
    src: url("/fonts/fontin-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fontin';
    src: url("/fonts/fontin-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'fontin';
    src: url("/fonts/fontin-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontin-smallcaps';
    src: url("/fonts/fontin-smallcaps-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.font-smallcaps {
    font-family: 'fontin-smallcaps';
}


[id] {
    scroll-margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mud-typography-h1,
.mud-typography-h2,
.mud-typography-h3,
.mud-typography-h4,
.mud-typography-h5,
.mud-typography-h6 {
    color: #fff;
}
