
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(SmallLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(SmallLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<MudThemeProvider Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<AnchorNavigation />

@code {
    private MudTheme Theme { get; set; } = null!;

    protected override void OnInitialized()
    {
        Theme = new MudTheme()
            {
                Palette = GetPaletteDark(),
                PaletteDark = GetPaletteDark(),

                Typography = new Typography()
                {
                    H1 = CreateTypography<H1>("3rem"),
                    H2 = CreateTypography<H2>("2rem"),
                    H3 = CreateTypography<H3>("1.75rem"),
                    H4 = CreateTypography<H4>("1.5rem"),
                    H5 = CreateTypography<H5>("1.25rem"),
                    H6 = CreateTypography<H6>("1rem"),
                    Subtitle1 = CreateTypography<Subtitle1>("1.25rem"),
                    Subtitle2 = CreateTypography<Subtitle2>("1.125rem"),
                    Body1 = CreateTypography<Body1>("1rem"),
                    Body2 = CreateTypography<Body2>("1rem"),
                    Button = CreateTypography<Button>("1rem"),
                    Caption = CreateTypography<Caption>("0.875rem"),
                    Overline = CreateTypography<Overline>("0.875rem"),
                    Default = CreateTypography<Default>("1rem"),
                },
            };

        base.OnInitialized();
    }

    private T CreateTypography<T>(string fontSize)
        where T : BaseTypography, new()
    {
        var typo = new T();
        if (typo is BaseTypography baseTypo)
        {
            baseTypo.FontFamily = new[] { "fontin", "system-ui", "-apple-system", "Arial", "sans-serif" };
            baseTypo.FontSize = fontSize;
            baseTypo.FontWeight = 400;
            baseTypo.LetterSpacing = "none";
            baseTypo.LineHeight = 1.2;
        }
        return typo;
    }

    private PaletteDark GetPaletteDark() => new PaletteDark()
        {
            Black = "#000000",
            Background = "#0d0b16",
            BackgroundGrey = "#161616",
            Surface = "#24232b",
            Divider = "#757575",
            DividerLight = "#E0E0E0",

            DrawerBackground = "#000000",
            DrawerText = "rgba(255,255,255, 0.90)",
            DrawerIcon = "#ffffff",

            AppbarBackground = "#000000",
            AppbarText = "#ffffff",

            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.55)",
            TextDisabled = "rgba(255,255,255, 0.40)",

            ActionDefault = "#00ACC1",
            ActionDisabled = "rgba(255,255,255, 0.30)",
            ActionDisabledBackground = "rgba(255,255,255, 0.15)",

            Primary = "#6b6ebe",
            PrimaryContrastText = "#ffffff",
            PrimaryLighten = "#9795d1",
            PrimaryDarken = "#3949ab",

            Info = "#00BCD4",
            InfoContrastText = "#ffffff",
            InfoLighten = "#26C6DA",
            InfoDarken = "#00ACC1",
        };
}