
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(SmallLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<MudThemeProvider Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private MudTheme Theme { get; set; } = null!;

    protected override void OnInitialized()
    {
        Theme = new MudTheme()
            {
                Palette = GetPaletteDark(),
                PaletteDark = GetPaletteDark(),
            };

        base.OnInitialized();
    }

    private PaletteDark GetPaletteDark() => new PaletteDark()
        {
            Black = "#000000",
            Background = "#1C1C1C",
            BackgroundGrey = "#161616",
            Surface = "#292929",
            Divider = "#757575",
            DividerLight = "#E0E0E0",

            DrawerBackground = "#000000",
            DrawerText = "rgba(255,255,255, 0.90)",
            DrawerIcon = "rgba(255,255,255, 0.90)",

            AppbarBackground = "#000000",
            AppbarText = "rgba(255,255,255, 0.90)",

            TextPrimary = "rgba(255,255,255, 0.80)",
            TextSecondary = "rgba(255,255,255, 0.70)",
            TextDisabled = "rgba(255,255,255, 0.40)",

            ActionDefault = "#00ACC1",
            ActionDisabled = "rgba(255,255,255, 0.30)",
            ActionDisabledBackground = "rgba(255,255,255, 0.15)",

            Primary = "#8888FF",
            PrimaryContrastText = "rgba(255,255,255, 0.90)",
            PrimaryLighten = "#5C6BC0",
            PrimaryDarken = "#3949AB",

            Info = "#00BCD4",
            InfoContrastText = "rgba(255,255,255, 0.90)",
            InfoLighten = "#26C6DA",
            InfoDarken = "#00ACC1",
        };
}