@inherits LayoutComponentBase

<a href="@Image" target="_blank">
    <img src="@Image" class="max-h-[250px]" />
</a>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Image { get; set; }
}