
<div class="flex items-center justify-center gap-3">
    <ButtonPrimary Href="@WindowsSetupLink" Target="_blank">
        Installer
    </ButtonPrimary>
    <ButtonSecondary Href="@WindowsPortableLink" Target="_blank">
        Portable
        (Zip)
    </ButtonSecondary>
    <ButtonSecondary Href="@LinuxPortableLink" Target="_blank">
        Linux
        (AppImage)
    </ButtonSecondary>
</div>

@code {
    private string WindowsSetupLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-windows-stable-Setup.exe";
    private string WindowsPortableLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-windows-stable-Portable.zip";
    private string LinuxPortableLink = "https://github.com/Sidekick-Poe/Sidekick/releases/latest/download/Sidekick-linux-stable.AppImage";

}