
<div class="flex flex-col items-center gap-3">
    <AppLogo/>
    <TextBase Class="text-center">A Path of Exile and Path of Exile 2 companion tool. Price check items, check for dangerous map modifiers, and more!</TextBase>
</div>
