
<div class="flex flex-col items-center gap-3">
    <AppLogo/>
    <TextBase Class="text-center">A Path of Exile and Path of Exile 2 companion tool. Price check items, check for dangerous map modifiers, and more!</TextBase>
    <div>
        <a href="https://discord.gg/R9HyCpV" Target="_blank" Class="mx-auto">
            <img src="https://img.shields.io/discord/664252463188279300?color=%23738AD6&label=Discord" alt="Discord" />
        </a>
    </div>
</div>

@code {

}