
@inherits FlowbiteComponent

<div class="h-full flex flex-col">
    <div class="dark:bg-stone-950">
        <NavBar>
            <div class="flex items-center gap-x-4 gap-y-2">
                <AppDiscord/>
                <AppGitHub/>
                <AppBuyMeACoffeeButton/>
            </div>
        </NavBar>
    </div>
    @ChildContent
</div>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }

}
