
@inherits FlowbiteComponent

<div class="h-full flex flex-col">
    <div class="dark:bg-stone-950">
        <NavBar>
            <AppDiscord/>
            <AppGitHub/>
            <AppBuyMeACoffeeButton/>
        </NavBar>
    </div>
    @ChildContent
</div>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }

}
