@page "/"
@layout HomeLayout

<SidekickLogo />
<MudText Class="mt-3">A Path of Exile companion tool. Price check items, check for dangerous map modifiers, look at easily accessible cheatsheets, and more!</MudText>

<div id="installation"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Installation and Usage</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">1.</MudText>
                <div class="ml-6">Download Sidekick from our <MudLink Href="https://github.com/Sidekick-Poe/Sidekick">github page</MudLink>.</div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">2.</MudText>
                <div class="ml-6">Run Sidekick.application</div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">3.</MudText>
                <MudChip Variant="Variant.Outlined" Color="Color.Warning" Class="ml-6">Optional</MudChip>
                <div class="ml-6">You may get a security warning when running this software. You may have to add a security exception to run this software. Our code is open source and there is no malware included with this program.</div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">4.</MudText>
                <div class="ml-6">Check your game settings! Make sure your display mode is set to 'Windowed' or 'Windowed Fullscreen'. Sidekick will not work while Path of Exile is in Fullscreen mode.</div>
            </div>
        </MudListItem>
        <MudListItem>
            <div class="d-flex align-center">
                <MudText Typo="Typo.h4">5.</MudText>
                <div class="ml-6">Enjoy! Report issues or suggestions by communicating in our Discord or by creating an issue on GitHub.</div>
            </div>
        </MudListItem>
    </MudList>
</MudCard>

<div id="features"></div>
<MudText Typo="Typo.h1" Class="mt-6">Features!</MudText>

<div id="price-checking"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Price Checking <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+D</MudChip></MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">Opens a trade view from the official Path of Exile trade API. You can compare and preview items by clicking on any result. For rare items, a price prediction from poeprices.info is shown. For unique items, prices from poe.ninja are used.</MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="4">
                <PicturePreview Image="/assets/images/trade_maximized.png" Title="Trade" />
            </MudItem>
            <MudItem xs="4">
                <PicturePreview Image="/assets/images/trade_minimized.png" Title="Minimized View" />
            </MudItem>
            <MudItem xs="4">
                <PicturePreview Image="/assets/images/trade_currency.png" Title="Bulk Currency" />
            </MudItem>
        </MudGrid>
    </div>
</MudCard>

<div id="map-information"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Map Information <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+X</MudChip></MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">
            Checks the modifiers on a map or contract for mods that are dangerous (configurable through a regex). Shows wiki information on bosses and possible drops.
        </MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/map_safe.png" Title="Safe" />
            </MudItem>
            <MudItem xs="6">
                <PicturePreview Image="/assets/images/map_unsafe.png" Title="Unsafe" />
            </MudItem>
        </MudGrid>
    </div>
</MudCard>

<div id="chat-commands"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Chat Commands</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList>
        <MudListItem>
            <MudText Typo="Typo.h4">Go to Hideout <MudChip Variant="Variant.Outlined">Default Binding: F5</MudChip></MudText>
            Quickly go to your hideout. Writes the following chat command: /hideout
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Leave Party <MudChip Variant="Variant.Outlined">Default Binding: F4</MudChip></MudText>
            Quickly leave a party. Writes the following chat command: /leave
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Reply to Last Whisper <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+Shift+R</MudChip></MudText>
            Reply to the last whisper received. Starts writing the following chat command: @@{characterName}
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Exit to Character Selection <MudChip Variant="Variant.Outlined">Default Binding: F9</MudChip></MudText>
            Exit to the character selection screen. Writes the following chat command: /exit
        </MudListItem>
    </MudList>
</MudCard>

<div id="cheatsheets"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Cheatsheets <MudChip Variant="Variant.Outlined">Default Binding: F6</MudChip></MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body1">
            Opens a webview with useful wiki or other webpages about different mechanics of the game.
        </MudText>
    </MudCardContent>
    <div class="px-4 pb-4 pt-2">
        <MudGrid Spacing="2">
            <MudItem xs="3">
                <PicturePreview Image="/assets/images/cheatsheets_leveling.png" Title="Leveling Cheatsheet" />
            </MudItem>
            <MudItem xs="3">
                <PicturePreview Image="/assets/images/cheatsheets_chromatic.png" Title="Chromatic Calculator" />
            </MudItem>
            <MudItem xs="3">
                <PicturePreview Image="/assets/images/cheatsheets_regex.png" Title="Regex Tool" />
            </MudItem>
            <MudItem xs="3">
                <PicturePreview Image="/assets/images/cheatsheets_wiki.png" Title="Wiki Pages" />
            </MudItem>
        </MudGrid>
    </div>
</MudCard>

<div id="other-features"></div>
<MudCard Class="mt-6">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h2">Other Features</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudList>
        <MudListItem>
            <MudText Typo="Typo.h4">Open Wiki <MudChip Variant="Variant.Outlined">Default Binding: Alt+W</MudChip></MudText>
            Open the item currently under your mouse in your preferred wiki.
        </MudListItem>
        <MudListItem>
            <MudText Typo="Typo.h4">Find Items <MudChip Variant="Variant.Outlined">Default Binding: Ctrl+F</MudChip></MudText>
            Searches in your stash or passive tree with the name of the item currently under your mouse.
        </MudListItem>
    </MudList>
</MudCard>

<About />
