<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudImage Src="@Image" Fluid="true" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close" Variant="Variant.Filled">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public string? Image { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));
}
