@inherits LayoutComponentBase

<div @onclick="() => OpenPreview()">
    <MudCardMedia Image="@Image" Height="Height" />
</div>

@inject IDialogService DialogService;
@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Image { get; set; }

    [Parameter]
    public int Height { get; set; } = 250;

    private async Task OpenPreview()
    {
        var parameters = new DialogParameters<PicturePreviewContent> { { x => x.Image, Image } };
        var dialog = await DialogService.ShowAsync<PicturePreviewContent>(Title, parameters, new DialogOptions()
        {
            CloseButton = true,
            MaxWidth = MaxWidth.Large,
        });
    }
}