<div id="faq" class="flex flex-col gap-6">
    <div class="text-center">
        <Heading1>FAQ</Heading1>
    </div>

    <Card>
        <div class="flex flex-col gap-6">
            <div>
                <Heading3 Class="mb-1">Can I be banned for using Sidekick?</Heading3>
                <TextBase Class="text-neutral-400">
                    The Sidekick project aims to provide the community with a tool that is safe and adheres to the Path
                    of Exile terms of service. View <a href="https://www.pathofexile.com/developer/docs#policy"
                                                       target="_blank"
                                                       class="text-violet-400 hover:underline">Grinding Gear Games
                        Policy</a>.
                </TextBase>
            </div>
            <div>
                <Heading3 Class="mb-1">Why does Sidekick need to run as administrator?</Heading3>
                <TextBase Class="text-neutral-400">
                    Sidekick doesn’t <i>require</i> administrator privileges, but it may need them to detect hotkeys if
                    Path of Exile is running as an administrator.
                </TextBase>
            </div>
            <div>
                <Heading3 Class="mb-1">Why does my antivirus software flag Sidekick?</Heading3>
                <TextBase Class="text-neutral-400">
                    Sidekick uses a global keyboard hook to detect hotkeys. This technique is also used by some malware,
                    so certain antivirus tools may flag Sidekick — especially since it isn’t currently code-signed.
                    Sidekick is open source, and all code and repositories are public.
                </TextBase>
            </div>
            <div>
                <Heading3 Class="mb-1">Where can I get support?</Heading3>
                <TextBase Class="text-neutral-400">
                    Have feedback or need help? Reach out on our <a href="https://discord.gg/R9HyCpV" target="_blank"
                                                                    class="text-violet-400 hover:underline">Discord</a>
                    in <b>#support</b>, or open an issue on <a href="https://github.com/Sidekick-Poe/Sidekick"
                                                               target="_blank"
                                                               class="text-violet-400 hover:underline">GitHub</a>.
                </TextBase>
            </div>
        </div>
    </Card>
</div>
