<div id="faq" class="flex flex-col gap-6">
    <div class="text-center">
        <Heading1>FAQ</Heading1>
    </div>

    <Card>
        <div class="flex flex-col gap-6">
            <div>
                <Heading3 Class="mb-1 text-violet-700 dark:text-violet-400">Can I be banned for using Sidekick?</Heading3>
                <TextBase>
                    The Sidekick project aims to provide the community with a tool that is safe and adheres to the Path of Exile terms of service. Since Sidekick's release, no one has ever been banned for using it.
                </TextBase>
            </div>
            <div>
                <Heading3 Class="mb-1 text-violet-700 dark:text-violet-400">Why does Sidekick need to run as administrator?</Heading3>
                <TextBase>
                    Sidekick does not <i>require</i> administrator privileges. However, it may need them to detect your key presses if you are running Path of Exile as an administrator.
                </TextBase>
            </div>
            <div>
                <Heading3 Class="mb-1 text-violet-700 dark:text-violet-400">Why does my antivirus software flag Sidekick?</Heading3>
                <TextBase>
                    Sidekick uses global keyboard hooks to detect when you press a shortcut, which is a common technique used by malware. Because Sidekick is not a signed application, it may be flagged by some antivirus software. All the code and repositories are public.
                </TextBase>
            </div>
            <div>
                <Heading3 Class="mb-1 text-violet-700 dark:text-violet-400">Where can I get support?</Heading3>
                <TextBase>
                    You can get support on our <a href="https://discord.gg/R9HyCpV" target="_blank" class="text-violet-700 dark:text-violet-400 hover:underline">Discord</a> in the #support channel.
                </TextBase>
            </div>
        </div>
    </Card>
</div>
