
<div
    class="font-sans w-full h-[calc(var(--sidekick-vh))] overflow-y-auto overflow-x-hidden dark:bg-stone-900 text-white text-base [zoom:var(--sidekick-zoom)]">
    @ChildContent
</div>

@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }

}
