<Card Title="Price Checking">
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <PicturePreview Image="/pages/trade_item.png" Title="Price checking an item" Height="220" />
            <PicturePreview Image="/pages/trade_bulk.png" Title="Bulk trading" Height="220" />
        </div>
        <TextBase>
            Select any item in Path of Exile and press <b>Ctrl+D</b> to view the current price on the Path of Exile trade website.
        </TextBase>
        <TextBase>
            Sidekick will automatically select the item's properties (such as <i>Links, Sockets, Gem Level, Quality, etc.</i>) and filter the results accordingly. You can even manually select/deselect properties and modifiers in the Price Check overlay.
        </TextBase>
        <TextBase>
            <b>Other Price Check commands:</b>
        </TextBase>
        <ul class="list-disc list-inside space-y-1 ml-4">
            <li><b>Ctrl+Alt+D:</b> Immediately opens the trade website in your browser.</li>
            <li><b>Ctrl+D (on currency):</b> Shows a currency-specific view with poe.ninja integration.</li>
        </ul>
    </div>
</Card>
