<div id="features" class="flex flex-col gap-6">
    <Heading1 Class="text-center">Features</Heading1>
    <HomePriceChecking/>
    <HomeMapInformation/>
    <HomeChatCommands/>
    <HomeOtherFeatures/>
</div>
