<Card Title="Regex Hotkeys">
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <PicturePreview Image="/pages/regex_hotkeys.png" Title="Customize your regex hotkeys"/>
        </div>
        <TextBase>
            Press a customizable keybind in-game to instantly paste a regex into the search bar. Create and manage your regex hotkeys in Sidekick settings.
        </TextBase>
    </div>
</Card>
