<Card Title="Other Features">
    <div class="flex flex-col gap-4">
        <ul class="list-disc list-outside space-y-1 ml-4">
            <li><b>Alt+W:</b> Open the wiki website for the selected item. Choose between poewiki.net and poedb.tw</li>
            <li><b>Ctrl+F:</b> Gets the name of the currently hovered item and searches in your stash or passive tree.</li>
            <li><b>Ctrl+MWheel:</b> Quickly navigate between stash tabs.</li>
        </ul>
    </div>
</Card>
