<Card Title="Chat Commands">
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <PicturePreview Image="/pages/chat_commands.png" Title="Customize your chat commands"/>
        </div>
        <TextBase>
            Use Sidekick’s built-in chat commands with a single keystroke:
        </TextBase>
        <ul class="list-disc list-inside space-y-1 ml-4">
            <li><b>F5:</b> <em>/hideout</em> - Go to your hideout.</li>
            <li><b>F4:</b> <em>/leave</em> - Leave the current group.</li>
            <li><b>Ctrl+Enter:</b> <em>@@last</em> - Reply to the last whisper.</li>
            <li><b>F9</b> <em>/exit</em> - Go to the character screen.</li>
        </ul>
        <TextBase>
            Want different commands? Add your own custom chat shortcuts in Sidekick settings.
        </TextBase>
    </div>
</Card>
