<Card Title="Map Information">
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <PicturePreview Image="/pages/map_safe.png" Title="Safe map" Height="220" />
            <PicturePreview Image="/pages/map_unsafe.png" Title="Unsafe map" Height="220" />
        </div>
        <TextBase>
            Select any map in Path of Exile and press <b>Ctrl+X</b> to see if it has any dangerous modifiers.
        </TextBase>
        <TextBase>
            You can configure which modifiers are dangerous in the Sidekick settings. This works for both Path of Exile 1 and Path of Exile 2.
        </TextBase>
    </div>
</Card>
