<Card Title="Chat Commands">
    <div class="flex flex-col gap-4">
        <TextBase>
            Sidekick has some built-in chat commands that you can use by pressing a shortcut:
        </TextBase>
        <ul class="list-disc list-inside space-y-1 ml-4">
            <li><b>F5:</b> Go to your hideout.</li>
            <li><b>F4:</b> Leave the current group.</li>
            <li><b>Ctrl+Enter:</b> Reply to the last whisper.</li>
        </ul>
        <TextBase>
            You can also add your own custom chat commands in the Sidekick settings.
        </TextBase>
    </div>
</Card>
