<Card Title="Other Features">
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <PicturePreview Image="/pages/wealth_tracker.png" Title="Wealth Tracker" Height="220" />
        </div>
        <ul class="list-disc list-inside space-y-1 ml-4">
            <li><b>Alt+W:</b> Open the poewiki.net website for the selected item.</li>
            <li><b>Alt+A:</b> Open the poedb.tw website for the selected item.</li>
            <li><b>Alt+E:</b> Open the Craft of Exile website for the selected item.</li>
            <li><b>Alt+G:</b> Open the poe.ninja website for the selected item.</li>
            <li><b>Ctrl+Shift+E:</b> Check the selected item for vendor recipes.</li>
        </ul>
    </div>
</Card>
