@page "/oauth/poe"

<LayoutSimple>
    <AppSmallContainer>
        <div class="flex justify-center">
            <AppLogo/>
        </div>

        <div class="mt-3 text-center">
            <TextBase>Authenticating. This window will automatically close.</TextBase>
        </div>
    </AppSmallContainer>
</LayoutSimple>
